{%extends 'base_layout.html'%}
{%block title%}
    Register Page
{%endblock%}

{% block content %}
<body class="text-center">
<div class="container">
    <form method="POST" class="form-register", style="color:white">
        <!-- Saves us from CSRF attack! -->
        {{ form.hidden_tag() }} 
        <!-- <img class="img-responsive" height=20% width=20% src="https://images-platform.99static.com//cTANeLvHk_EibhtgJcTQG_HMyko=/0x599:601x1200/fit-in/500x500/99designs-contests-attachments/101/101270/attachment_101270547">
        -->
        <h1 class="h3 mb-3 font-weight-bold">
            <br>
            Create Account
        </h1>
        {{form.username.label()}}
        {{form.username(class="form-control", placeholder="User Name")}}

        {{form.email.label()}}
        {{form.email(class="form-control", placeholder="Enter Email Address")}}

        {{form.password1.label()}}
        {{form.password1(class="form-control", placeholder="Enter password")}}

        {{form.password2.label()}}
        {{form.password2(class="form-control", placeholder="Confirm password")}}

        {{form.budget.label()}}
        {{form.budget(class="form-control", placeholder="Enter Your Budget in INR")}}
        
        <br>
        {{form.submit(class="btn btn-justified btn-block btn-success", placeholder="Register")}}
        <br>
        <div class="checkbox mb-3">
            <h8>Already have an account?</h8>
            <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Login Now</a>
        </div>
    </form>
</div>
</body>

{% endblock %}
